@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #c74feb;
}

::-webkit-scrollbar-thumb:hover {
    background: #bc32e6;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1E1E30;
    color: #FFFFFF;
    /*as default*/
    font-family: 'Roboto', sans-serif;
}