@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1E1E30;
    color: #FFFFFF; /*as default*/
    font-family: 'Roboto', sans-serif;
}